extends layout

block content
  h1 Frewen.Wong空间
  p.lead Frewen.Wong的技术博客
  hr
  .row
    .col-sm-6
      h2 Android开发基础学习
      p Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习
      p
        a.btn.btn-secondary(href='#', role='button') 查看全文 »
    .col-sm-6
      h2 Android开发基础学习
      p Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习
      p
        a.btn.btn-secondary(href='#', role='button') 查看全文 »
    .col-sm-6
      h2 Android开发基础学习
      p Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习
      p
        a.btn.btn-secondary(href='#', role='button') 查看全文 »
    .col-sm-6
      h2 Android开发基础学习
      p Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习Android开发基础学习
      p
        a.btn.btn-secondary(href='#', role='button') 查看全文 »